<article class="article">
    <div class="article__header">
      <img class="article__image" src="./images/image-restaurant.jpg" alt="An image of restaurant.">
    </div>
    <div class="article__content">
      <span class="article__author">By Claire Robinson</span>
      <h3 class="article__title">
        <a href="#" class="link">Treat yourself without worrying about money</a>
      </h3>
      <p class="article__description">
        Our simple budgeting feature allows you to separate out your spending and set 
  realistic limits each month. That means you …
      </p>
    </div>
  </article>