<footer class="footer">
    <div class="footer-banner">
      <img src="./images/logo.svg" alt="Brand logo">
      <ul class="footer__socials list list--inline">
        <li class="list__item">
          <svg class="icon icon--media">
            <use xlink:href="./images/sm-sprite.svg#icon-youtube"></use>
          </svg>
        </li>
        <li class="list__item">
          <svg class="icon icon--media">
            <use xlink:href="./images/sm-sprite.svg#icon-facebook"></use>
          </svg>
        </li>
        <li class="list__item">
          <svg class="icon icon--media">
            <use xlink:href="./images/sm-sprite.svg#icon-twitter"></use>
          </svg>
        </li>
        <li class="list__item">
          <svg class="icon icon--media">
            <use xlink:href="./images/sm-sprite.svg#icon-pinterest"></use>
          </svg>
        </li>
        <li class="list__item">
          <svg class="icon icon--media">
            <use xlink:href="./images/sm-sprite.svg#icon-instagram"></use>
          </svg>
        </li>
      </ul>
    </div>
    <ul class="footer__nav list">
      <li class="list__item">
        <a href="#" class="link">About Us</a>
      </li>
      <li class="list__item">
        <a href="#" class="link">Contact</a>
      </li>
      <li class="list__item">
        <a href="#" class="link">Blog</a>
      </li>
      <li class="list__item">
        <a href="#" class="link">Careers</a>
      </li>
      <li class="list__item">
        <a href="#" class="link">Support</a>
      </li>
      <li class="list__item">
        <a href="#" class="link">Privacy Policy</a>
      </li>
    </ul>
    <div class="footer__attribution">
      <a class="fem link" href="https://www.frontendmentor.io?ref=challenge" target="_blank">Challenge by Frontend Mentor</a>. 
      <div class="my-links">
        <a class="link" target="_blank" href="https://www.twitter.com/PaidChristopher" class="my-name">&copy; Coded by Christopher II</a>
        <ul class="list list--inline links">
          <li class="list__item">
            <a class="link" href="https://www.twitter.com/PaidChristopher" target="_blank">Twitter</a>
          </li>
          <li class="list__item">
            <a class="link" href="https://www.instagram.com/devchristopherii" target="_blank">Instagram</a>
          </li>
          <li class="list__item">
            <a class="link" href="https://medium.com/@christopherii_" target="_blank">Medium</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="copyright">
      <button class="btn btn--green">Request Invite</button>
      <span class="copy">© Easybank. All Rights Reserved</span>
    </div>
  </footer>