<header class="header">
  <nav class="nav">
    <div class="nav__brand">
      <img src="./images/logo.svg" alt="A picture of easybank logo">
    </div>
    <ul class="nav__list list list--inline">
      <li class="list__item">
        <a href="#" class="link">Home</a>
      </li>
      <li class="list__item">
        <a href="#" class="link">About</a>
      </li>
      <li class="list__item">
        <a href="#" class="link">Contact</a>
      </li>
      <li class="list__item">
        <a href="#" class="link">Blog</a>
      </li>
      <li class="list__item">
        <a href="#" class="link">Careers</a>
      </li>
    </ul>
    <button class="nav__btn btn btn--icon btn--burger">
      <span class="sr-only">Button burger</span>
    </button>
    <button class="nav__btn btn--inactive btn btn--icon btn--close">
      <span class="sr-only">Button close</span>
    </button>
    <button class="nav__request btn btn--green">Request Invite</button>
  </nav>
  <nav class="mobile-nav display-none">
    <ul class="mobile-nav__list list">
      <li class="list__item">
        <a href="#" class="link">Home</a>
      </li>
      <li class="list__item">
        <a href="#" class="link">About</a>
      </li>
      <li class="list__item">
        <a href="#" class="link">Contact</a>
      </li>
      <li class="list__item">
        <a href="#" class="link">Blog</a>
      </li>
      <li class="list__item">
        <a href="#" class="link">Careers</a>
      </li>
    </ul>
  </nav>
  <div class="header__content">
    <div class="banner-container">
      <picture>
        <source srcset="./images/bg-intro-mobile.svg" media="(max-width: 900px)">
        <img class="banner-image" src="./images/bg-intro-desktop.svg" alt="An image of mobile phones using easybank application">
      </picture>
    </div>
    <section class="header__block block">
      <h1 class="block__header">Next generation digital banking</h1>
      <p class="block__description">
        Take your financial life online. Your Easybank account will be a one-stop-shop 
        for spending, saving, budgeting, investing, and much more.
      </p>
      <div class="block__action">
        <button class="btn btn--green">Request Invite</button>
      </div>
    </section>
  </div>
</header>