<svg class="icon icon--media">
    <use xlink:href="./images/sm-sprite.svg#icon-twitter"></use>
  </svg>
  <svg class="icon icon--media">
    <use xlink:href="./images/sm-sprite.svg#icon-youtube"></use>
  </svg>
  <svg class="icon icon--media">
    <use xlink:href="./images/sm-sprite.svg#icon-pinterest"></use>
  </svg>
  <svg class="icon icon--media">
    <use xlink:href="./images/sm-sprite.svg#icon-facebook"></use>
  </svg>
  <svg class="icon icon--media">
    <use xlink:href="./images/sm-sprite.svg#icon-instagram"></use>
  </svg>

  <svg class="icon icon--feature">
    <use xlink:href="./images/feature-sprite.svg#icon-online"></use>
  </svg>
  <svg class="icon icon--feature">
    <use xlink:href="./images/feature-sprite.svg#icon-onboarding"></use>
  </svg>
  <svg class="icon icon--feature">
    <use xlink:href="./images/feature-sprite.svg#icon-api"></use>
  </svg>
  <svg class="icon icon--feature">
    <use xlink:href="./images/feature-sprite.svg#icon-budgeting"></use>
  </svg>