<main class="main">
    <div class="articles">
      <section class="block">
        <h2 class="block__header">Latest Articles</h2>
      </section>
      <article class="article">
        <div class="article__header">
          <img class="article__image" src="./images/image-currency.jpg" alt="An image of currencies.">
        </div>
        <div class="article__content">
          <span class="article__author">By Claire Robinson</span>
          <h3 class="article__title">
            <a href="#" class="link">Receive money in any currency with no fees</a>
          </h3>
          <p class="article__description">
            The world is getting smaller and we’re becoming more mobile. So why should you be 
            forced to only receive money in a single …
          </p>
        </div>
      </article>
      <article class="article">
        <div class="article__header">
          <img class="article__image" src="./images/image-restaurant.jpg" alt="An image of restaurant.">
        </div>
        <div class="article__content">
          <span class="article__author">By Claire Robinson</span>
          <h3 class="article__title">
            <a href="#" class="link">Treat yourself without worrying about money</a>
          </h3>
          <p class="article__description">
            Our simple budgeting feature allows you to separate out your spending and set 
      realistic limits each month. That means you …
          </p>
        </div>
      </article>
      <article class="article">
        <div class="article__header">
          <img class="article__image" src="./images/image-plane.jpg" alt="An image of plane.">
        </div>
        <div class="article__content">
          <span class="article__author">By Wilson Hutton</span>
          <h3 class="article__title">
            <a href="#" class="link">Take your Easybank card wherever you go</a>
          </h3>
          <p class="article__description">We want you to enjoy your travels. This is why we don’t charge any fees on purchases 
            while you’re abroad. We’ll even show you …
          </p>
        </div>
      </article>
      <article class="article">
        <div class="article__header">
          <img class="article__image" src="./images/image-confetti.jpg" alt="An image of confetti.">
        </div>
        <div class="article__content">
          <span class="article__author">By Claire Robinson</span>
          <h3 class="article__title">
            <a href="#" class="link">Treat yourself without worrying about money</a>
          </h3>
          <p class="article__description">
            After a lot of hard work by the whole team, we’re excited to launch our closed beta. It’s easy to request an invite through the site ...
          </p>
        </div>
      </article>
    </div>
  </main>