<nav class="mobile-nav">
    <ul class="mobile-nav__list list">
      <li class="list__item">
        <a href="#" class="link">Home</a>
      </li>
      <li class="list__item">
        <a href="#" class="link">About</a>
      </li>
      <li class="list__item">
        <a href="#" class="link">Contact</a>
      </li>
      <li class="list__item">
        <a href="#" class="link">Blog</a>
      </li>
      <li class="list__item">
        <a href="#" class="link">Careers</a>
      </li>
    </ul>
</nav>