<nav class="nav">
  <div class="nav__brand">
    <img src="./images/logo.svg" alt="A picture of easybank logo">
  </div>
  <ul class="nav__list list list--inline">
    <li class="list__item">
      <a href="#" class="link">Home</a>
    </li>
    <li class="list__item">
      <a href="#" class="link">About</a>
    </li>
    <li class="list__item">
      <a href="#" class="link">Contact</a>
    </li>
    <li class="list__item">
      <a href="#" class="link">Blog</a>
    </li>
    <li class="list__item">
      <a href="#" class="link">Careers</a>
    </li>
  </ul>
  <button class="nav__btn btn btn--icon btn--burger">
    <span class="sr-only">Button burger</span>
  </button>
  <button class="nav__request btn btn--green">Request Invite</button>
</nav>